  .move {
    border-bottom: solid 1px;
    display: flex;
    flex-direction: row;
  }

  .moveType {
    font-family: sans-serif;
    border-radius: .5vh;
    padding: .4vh;
    font-size: 1.2vh;
    text-align: center;
    align-content: center;
    color: white;
    font-weight: bold;
    border: 2px solid rgba(0,0,0, 0.25);
  }