  .levelHeader {
    display: flex;
    flex-direction: column;
    /*border-bottom: 1px solid;*/
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    /*box-shadow: inset 0 0 3px #00000067;*/
    color: white;
    position: sticky;
  }

  .maxMoves {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color:rgb(228, 3, 3);
    height: 5vh;
  }

  .categoryTitle {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color:green;
    margin-bottom: 1vh;
  }

  .levelHeaderDetails {
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    justify-content: space-around;
    align-items: center;
  }

  .typeHeader {
    display: flex;
    justify-content: center;
    width: 3.3vw;
  }
  
  .move {
    /*border-bottom: solid 1px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: 3vh;
    justify-content: space-around;
    background-color: white;
    margin-top: 0.5vh;
    clip-path: polygon(
      0% 50%,
      1% 0%,
      100% 0%,
      97% 100%,
      1% 100%
    );
  }

  .altMoveColor {
    background-color: rgb(221, 221, 221);
  }

  .moveClicked {
    filter: brightness(0.8);
  }

  .move:hover {
    filter: brightness(0.8);
    cursor: pointer;
  }

  .movePanel {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    padding: .5vh;
    color: green;
  }

  .topOfPanel {
    text-align: center;
  }

  .bodyOfPanel {
    text-align: left;
  }

  .hidden {
    height: 0vh !important;
    display: none;
  }

  .level {
    display: flex;
    justify-content: center;
    width: 2vw;
    white-space: nowrap;
  }

  .moveName {
    width: 7vw;
    white-space: nowrap;
  }

  .moveType {
    font-family: sans-serif;
    border-radius: .5vh;
    padding: .4vh;
    font-size: 0.7vw;
    text-align: center;
    align-content: center;
    color: white;
    font-weight: bold;
    border: 2px solid rgba(0,0,0, 0.25);
    width: 3.4vw;
    text-shadow: 1px 1px 2px black;
  }

  .moveClass {
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .movePower {
    display: flex;
    width: 2vw;
    justify-content: center;
  }

  .moveAccuracy {
    display: flex;
    justify-content: center;
    width: 3vw;
  }