  .levelHeader {
    border: 1px;
    display: flex;
    flex-direction: row;
    height: 2vh;
    position: sticky;
    top: 0;
  }
  
  .move {
    border-bottom: solid 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5vh;
    justify-content: space-around;
  }

  .level {
    display: flex;
    justify-content: center;
    width: 2vw;
  }

  .moveName {
    width: 10vw;
  }

  .moveType {
    font-family: sans-serif;
    border-radius: .5vh;
    padding: .4vh;
    font-size: 1.2vh;
    text-align: center;
    align-content: center;
    color: white;
    font-weight: bold;
    border: 2px solid rgba(0,0,0, 0.25);
    width: 3.3vw;
    text-shadow: 1px 1px 2px black;
  }

  .moveClass {
    height: 100%;
  }

  .movePower {
    display: flex;
    width: 2vw;
    justify-content: center;
  }

  .moveAccuracy {
    display: flex;
    justify-content: center;
    width: 2vw;
  }