  #root {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  body, html {
    padding-top: 0;
    margin-top: 0;
    height: 100%;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    overflow-x: hidden;
  }

  button {
    border-radius: 0; /* Remove border-radius */
    border: solid 1px;     /* Remove any default border */
    padding: 10px 20px; /* Add padding for consistent size */
    background: none;  /* Or any background color you'd like */
    cursor: pointer;   /* Make sure the cursor looks correct */
  }
  
  button:hover {
    background-color: #ddd; /* Add hover effect */
  }
  
  button:focus {
    outline: none;  /* Remove the default focus outline */
  }

  #bg {
    position: absolute;
    height: 100vh;
    min-width: 100vw;
    left: 0;
    z-index: -512;
  }

  .topBar {
    display: flex;
    justify-content: center;
  }

  .searchBar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%;
  }

  .monInput {
    display: flex;
    box-sizing: border-box;
    width: 100%;
  }

  .listedMon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border: solid 1px;
  }

  .monButton {
    padding: 0;
  }

  .leftAndRight {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .left {
    width: 100vw;
  }

  .wheel {
    flex-grow: 1;
    align-content: center;
    display:flex;
    background-color: rgba(255, 255, 255, 1);
    flex-direction: row;
    margin-left: 7vw;
    height: 100%;
    width: 31.5vw;
    right: -30vw;
    position: absolute;
    top: 0;
    transition: right .5s;
    z-index: 5;
    background-clip: content-box; 
  }

  .wheel:hover {
    right: 0vw;
  }

  .shadow {
    display: flex;
    flex-grow: 1;
    background-color: #000000;
    opacity: 0%;
    position: absolute;
    transition: opacity .5s;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    overflow: hidden;
    pointer-events: none;
  }

  .shadowHover {
    background-color: #000000;
    opacity: 30%;
  }

  /*wheel component seems to remount every mon update which causes wheel to retract. Thus we need a way to track state.*/
  /*.wheelExtend { 
    right: 0;
  }

  .wheelRetract {
    right: -30vw;
  }*/

  .imageAndType {
    display:flex;
    flex-direction: column;
    margin-bottom: 3vh;
  }

  .imageContainer {
    display: flex;
    margin-bottom: 0.6vh;
    flex-direction: column;
    position: relative;
  }

  .cry {
    display: flex;
    position: absolute;
    border: 0px;
    bottom: 1.4vh;
    left: 1.4vh;
    width: 10%;
    justify-content: center;
    align-items: center;
    height: 10%;
    opacity: 0.5;
  }

  .cry:hover {
    background-color: transparent;
    opacity: 1;
  }
  
  #speakerIcon {
    height: 120%;
  }

  #formSelection {
    position: absolute;
    bottom: 1.4vh;
    right: 1.4vh;
    opacity: 0.5;
  }
  
  #formSelection:hover {
    opacity: 1;
    cursor: pointer
  }

  .pokeImage {
    height: 50vh;
    image-rendering: pixelated;
    align-items: center;
    border: solid 1vh;
    border-radius: 2vh;
    background-color: rgb(203, 216, 216);
    overflow: hidden;
  }
  
  .visuals {
    display: flex;
    flex-direction: row;
  }

  .extraInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .heightAndWeight {
    font-size: 1.8vh;
    display: flex;
    flex-direction: column;
    white-space: pre;
    font-weight: bold;
    justify-content: space-between;
    width: 100%;
    align-items: end;
  }

  .rightOfImage {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    width: 100%;
  }

  .statsChartBox {
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 86%;
  }

  .statsChart {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .baseStatTotal {
    display: flex;
    height: 2vh;
    font-size: 1.2rem;
    align-items: center;
    color: rgb(102, 102, 102);
  }

  .test {
    display: flex;
    flex-direction: row;
    height: 29.6vh;
  }

  .moveList {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    overflow-y: auto;
    width: 50%;
    max-height: 100%;
    align-self: flex-start;
  }

  .navBar {
    margin-bottom: 1vh;
    height: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .pokeName {
    font-weight: bold;
    font-size: 3vh;
    display: flex;
  }

  .monBtn {
    display: flex;
    border: solid black 1px;
    border-radius: 1vh;
    align-items: center;
    height: 2vh;
  }

  .abilityBox {
    display: flex;
    width: 30%;
    flex-direction: column;
    border: solid 1px;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    align-self: flex-start;
  }

  .abilityHeader {
    display: flex;
    border-bottom: solid 1px;
    align-items: center;
    height: 4vh;
    font-size: 2vh;
  }

  #abilityTextEnd {
    margin-left: 2%;
    font-size: 2vh;
  }

  .abilityName {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .abilityDescription {
    padding-left: .5vh;
    padding-right: .5vh;
    overflow-y: auto;
    white-space: pre-wrap;
    font-size: 2vh;
  }

  .directionBtns {
    display: flex;
    height: 100%;
    width: 5vw;
    justify-content: flex-end;
    align-items: center;
  }

  .abilityBtn {
    display: flex;
    border: 0px;
    border-left: 1px solid;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  #leftArrow {
    width: 2vw;
    height: 2.5vh;
    transform: rotate(-90deg);
    object-fit: contain;
  }

  #rightArrow {
    width: 2vw;
    height: 2.5vh;
    transform: rotate(90deg);
    object-fit: contain;
  }

  .pulloutBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    border: 1px solid;
    padding: 0;
    background-color: red;
    background-clip: content-box; 
  }

  .directionButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 1vw;
    border-left: 1px solid black;
    padding-left: 1vw;
  }

  .incrementButton, .decrementButton {
    display: flex;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    align-items: center;
    justify-content: center;
    border: 1px solid;
  }

  .entries {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;
    padding-left: 1vw;
    justify-content: center;
    position: relative;
  }

  .entry, .invisibleEntry {
    height: 15vh;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    background-color: lightgrey;
    border-radius: 6vh;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    font-size: 2vh;
    padding-left: 0.7vw;
    position: absolute;
    width: 30vw;
    border: .3vh solid #000000;
  }

  .transitionActive {
    transition: margin-left 0.4s linear, bottom 0.4s linear, z-index 0.4s linear, filter 0.4s linear;
  }

  .invisibleEntry {
    opacity: 0;
  }

  #entry0 {
    filter: brightness(1.0);
    z-index: 10;
    bottom: 42.5vh;
    margin-left: 0;
  }

  #entry-1, #entry1 {
    z-index: 9;
    filter: brightness(0.8);
    margin-left: 1vw;
  }
  #entry-1 {
    bottom: 60vh;
  }
  #entry1 {
    bottom: 25vh;
  }

  #entry-2, #entry2 {
    z-index: 8;
    filter: brightness(0.6);
    margin-left: 2.5vw;
  }
  #entry-2 {
    bottom: 73vh;
  }
  #entry2 {
    bottom: 12vh;
  }

  #entry-3, #entry3 {
    z-index: 7;
    filter: brightness(0.4);
    margin-left: 5vw;
  }
  #entry-3 {
    bottom: 86vh;
  }
  #entry3 {
    bottom: -1vh;
  }

  #entry-4, #entry4 {
    z-index: 6;
    filter: brightness(0.3);
    margin-left: 8vw;
  }
  #entry-4 {
    bottom: 100.5vh;
  }
  #entry4 {
    bottom: -15.5vh;
  }

  #entry-5, #entry5 {
    z-index: 6;
    filter: brightness(0.3);
    margin-left: 8vw;
    bottom: -15.5vh;
  }
  #entry-5 {
    bottom: 100.5vh;
  }
  #entry5 {
    bottom: -15.5vh;
  }

  .downArrow {
    width: 0; 
    height: 0; 
    border-left: 1vh solid transparent;
    border-right: 1vh solid transparent;
    border-top: 1vh solid #5d9d3c;
  }

  .upArrow {
    width: 0; 
    height: 0; 
    border-left: 1vh solid transparent;
    border-right: 1vh solid transparent;
    border-bottom: 1vh solid #5d9d3c;
  }

  .leftArrow {
    width: 0; 
    height: 0; 
    border-top: 1vh solid transparent;
    border-right: 2vh solid #000000;
    border-bottom: 1vh solid transparent;
  }

  .rightArrow {
    width: 0; 
    height: 0; 
    border-left: 2vh solid #000000;
    border-top: 1vh solid transparent;
    border-bottom: 1vh solid transparent;
  }