  #root {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: sans-serif;
  }

  button {
    border-radius: 0; /* Remove border-radius */
    border: none;     /* Remove any default border */
    padding: 10px 20px; /* Add padding for consistent size */
    background: none;  /* Or any background color you'd like */
    cursor: pointer;   /* Make sure the cursor looks correct */
  }
  
  button:hover {
    background-color: #ddd; /* Add hover effect */
  }
  
  button:focus {
    outline: none;  /* Remove the default focus outline */
  }

  .topBar {
    display: flex;
    justify-content: center;
  }

  .searchBar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%
  }

  .monInput {
    display: flex;
    box-sizing: border-box;
    width: 100%;
  }

  .listedMon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 100%;
    z-index: 100;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border: solid 1px;
  }

  .monButton {
    padding: 0;
  }

  .leftAndRight {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .left {
    width: 70vw;
  }

  .wheel {
    font-family: sans-serif;
    flex-grow: 1;
    align-content: center;
    display:flex;
    flex-direction: row;
    margin-left: 7vw;
    height: 100%;
    width: 20vw;
  }

  .pokeImage {
    height: 50vh;
    image-rendering: pixelated;
    align-items: center;
    border: solid 1vh;
    border-radius: 2vh;
    background-color: rgb(203, 216, 216);
    overflow: hidden;
  }
  
  .visuals {
    display: flex;
    flex-direction: row;
  }

  .imageAndType {
    display:flex;
    flex-direction: column;
    margin-bottom: 3vh;
  }

  .rightOfImage {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    width: 100%;
  }

  .statsChartBox {
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 99%;
  }

  .statsChart {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .baseStatTotal {
    display: flex;
    height: 3vh;
    color: rgb(102, 102, 102);
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    border-bottom: dashed 2px;
  }

  .heightAndWeight {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 1vh;
    gap: 1vh
  }

  .cry {
    display: flex;
    border: solid 1px;
    width: 1vw;
    justify-content: center;
    align-items: center;
    height: 5vh;
  }

  .test {
    display: flex;
    flex-direction: row;
    height: 35vh;
  }

  .moveList {
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    overflow-y: auto;
    width: 70%;
  }

  .abilityBox {
    display: flex;
    width: 30%;
    flex-direction: column;
    border: solid 1px;
  }

  .abilityHeader {
    display: flex;
    border-bottom: solid 1px;
    align-items: center;
    height: 4vh;
    font-size: 2vh;
  }

  #abilityTextEnd {
    margin-left: 2%;
    font-size: 2vh;
  }

  .abilityName {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .abilityDescription {
    height: 100%;
    padding-left: .5vh;
    padding-right: .5vh;
    overflow-y: auto;
    white-space: pre-wrap;
    font-size: 2vh;
  }

  .directionBtns {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  .abilityBtn {
    display: flex;
    border-left: 1px solid;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  #leftArrow {
    width: 2.5vh;
    height: 2.5vh;
    transform: rotate(-90deg);
    object-fit: contain;
  }

  #rightArrow {
    width: 2.5vh;
    height: 2.5vh;
    transform: rotate(90deg);
    object-fit: contain;
  }

  .directionButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 1vw;
  }

  .incrementButton, .decrementButton {
    display: flex;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    align-items: center;
    justify-content: center;
    border: 1px solid;
  }

  .entries {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;
    padding-left: 1vw;
    justify-content: center;
  }

  .entry, .invisibleEntry {
    height: 15%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    background-color: lightgrey;
    border-radius: 9vh;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    font-size: 2vh;
    padding-left: 0.7vw;
    position: relative;
  }

  .invisibleEntry {
    opacity: 0;
  }

  #entry0 {
    margin-top: 1.25vh;
    margin-bottom: 1.25vh;
    filter: brightness(1.0);
    z-index: 10;
  }
  #entry-1, #entry1 {
    z-index: 9;
    filter: brightness(0.8);
    margin-left: 1vw;
  }
  #entry-2, #entry2 {
    margin-bottom: -1vh;
    margin-top: -1vh;
    z-index: 8;
    filter: brightness(0.6);
    margin-left: 2.5vw;
  }
  #entry-3, #entry3 {
    margin-bottom: -1.5vh;
    margin-top: -1.5vh;
    z-index: 7;
    filter: brightness(0.4);
    margin-left: 5vw;
  }
  #entry-4, #entry4 {
    margin-bottom: -2vh;
    margin-top: -2vh;
    z-index: 6;
    filter: brightness(0.3);
    margin-left: 8vw;
  }