.typeBox {
    display: flex;
    flex-direction: row;
}

.type {
    font-family: sans-serif;
    border-radius: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 10vw;
    text-align: center;
    color: white;
    font-weight: bold;
}

.normal {
    background-color: #a1a1a1
}

.fire {
    background-color: #d43a30
}

.water {
    background-color: #4c79bc
}

.grass {
    background-color: #5d9d3c;
}

.electric {
    background-color: #f2c341;
}

.ice {
    background-color: #78ccF0;
}

.fighting {
    background-color: #F08833;
}

.poison {
    background-color: #6d4b97;
}

.ground {
    background-color: #895229;
}

.flying {
    background-color: #8Fb8e4;
}

.psychic {
    background-color: #dc4d79;
}

.bug {
    background-color: #95a135;
}

.rock {
    background-color: #ada984;
}

.ghost {
    background-color: #6b426e;
}

.dragon {
    background-color: #4c60a9;
}

.dark {
    background-color: #4e403F;
}

.steel {
    background-color: #74a2b9;
}

.fairy {
    background-color: #ba7Fb5;
}